{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        
        <div class="media-body">
          <h2 class="account-heading">Kumar Shrey</h2>
          <p class="text-secondary">I am a pre-final year Computer Science undergraduate 
              studying in Birla Institute of Technology, Mesra . I use Compitetive Coding as a tool to make a strong grip on Algorithms
            and Data structures. I am also enthusiastic about Web Development and Machine Learning. </p>
            <p class="text-secondary">Visit my <a href="https://shreyrai99.github.io/portfolio/">Personal Website</a></p>
        </div>
      </div>
      
    </div>

{% endblock content %}