{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">        
        <div class="media-body">
          <h2 class="account-heading">Kumar Shrey</h2>
          <p class="text-secondary">I am a pre-final year Computer Science undergraduate 
              studying in Birla Institute of Technology, Mesra . I use Compitetive Coding as a tool to make a strong grip on Algorithms
            and Data structures. I am also enthusiastic about Web Development and Machine Learning. I am currently learning django and this Django blog is an implementation of things I have learnt in Django so far :) </p>
            <li class="text-secondary">Personal Website: <a href="https://shreyrai99.github.io/portfolio/">Portfolio</a></li>            
            <li class="text-secondary">My Github Profile: <a href="https://github.com/shreyrai99/">shreyrai99</a></li>
            <li class="text-secondary">My Codechef Profile: <a href="https://www.codechef.com/users/shreyrai">shreyrai</a></li>
            <li class="text-secondary">Scoial Media Account: <a href="https://www.linkedin.com/in/shrey-rai-314b8a192/">Linkedin Profile</a></li>          
          
        </div>
      </div>      
    </div>

    <div class="content-section">
      <div class="media">        
        <div class="media-body">
          <h2 class="account-heading">Features of the Website</h2>
          <li class="text-secondary">Users can create, update, delete posts</li>
          <li class="text-secondary">The class monitor supervises the activities and acts as the "super-user"</li>
          <li class="text-secondary">Safe, secure and reliable with added security features like CSRF Protection</li>
          <li class="text-secondary">Study Material section for uploading books,PDFs, PPTs etc</li>
          <li class="text-secondary">Personalized Profiles of each user with option to update profile pictures and other details</li>
          <li class="text-secondary">Contribution points for active users</li>         
          
        </div>
      </div>      
    </div>


    <div class="content-section">
      <div class="media">        
        <div class="media-body">
          <h2 class="account-heading">Coming Soon!</h2>
          <p class="text-secondary"> A quiz section where users can give mock quizes to improve their learning ability and thus test their skills. </p>
                 
          
        </div>
      </div>      
    </div>

{% endblock content %}